/*********** overide css ***********/
.brand-logo {
  margin-top: 7px;
}

.collection-header {
  margin: 0;
}

.field-type-text-long {
  margin-bottom: 1em;
}

.btn {
  margin-right: 1em;
}

/************ css for sidebar regions ***********/
.region-sidebar-first,
.region-sidebar-last,
.action-links {
	li {
	  list-style-type: none;
  } 
}

.field-type-taxonomy-term-reference {
	.field-item {
	  display: inline-block;
	  margin-right: 0.5rem;
	}
}

/******** for comment form ***********/
.comment-form {
	.form-type-item {
		label {
			position: inherit;
			display: block;
    	margin-bottom: 12px;
		}
		span, .username {
			padding-left: 12px;
		}
	}
	.filter-wrapper {
		.form-type-select {
			label {
				position: inherit;
			  display: block;
    	  margin-bottom: 20px;
			}
		}
	}
}

/**** added font icons *******/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}